@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos al sorteo navideño</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p><a href="~/Personas/Index" class="btn btn-primary btn-lg">Iniciar &raquo;</a></p>
</div>

 <style>
    #ABC {
      background-color: blue;
      border: 1px solid red;
    }
  </style>
</head>

<body>
  <section id="ABC">

  </section>
</body>


@section scripts{

    <script src="snowstorm.js"></script>



}
